<h1>Create New Spell</h1>

<p>
<%= link_to 'All Spells', spells_path%>|
<%= link_to "Home", root_path %>    
</p>

<%= form_with(model: @spell, local: true) do |form| %>
  <% if @spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spell.errors.count, "error") %> prohibited this spell from being saved:</h2>

      <ul>
        <% @spell.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :level %>
    <%= form.select(:level, Spell.array_for_select_level) %>
  </div>

  <div>
    <%= form.label :school %>
    <%= form.select(:school, Spell.array_for_select_schools, { include_blank: true })%>
  </div>

  <div>
    <%= form.label "bard?" %>
    <%= form.check_box(:is_bard)%>
  </div>

  <div>
    <%= form.label "cleric?" %>
    <%= form.check_box(:is_cleric)%>
  </div>

  <div>
    <%= form.label "druid?" %>
    <%= form.check_box(:is_druid)%>
  </div>

  <div>
    <%= form.label "paladin?" %>
    <%= form.check_box(:is_paladin)%>
  </div>

  <div>
    <%= form.label "ranger?" %>
    <%= form.check_box(:is_ranger)%>
  </div>

  <div>
    <%= form.label "sorcerer?" %>
    <%= form.check_box(:is_sorcerer)%>
  </div>

  <div>
    <%= form.label "warlock?" %>
    <%= form.check_box(:is_warlock)%>
  </div>

  <div>
    <%= form.label "wizard?" %>
    <%= form.check_box(:is_wizard)%>
  </div>

  <div>
    <%= form.label :concentration %>
    <%= form.radio_button :concentration, "No" %>No
    <%= form.radio_button :concentration, "Yes" %>Yes
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>

