<p id="notice"><%= flash[:notice] %></p>

<h1>View <%= @spell.name %></h1>
<p>
<%= link_to 'All Spells', spells_path%>|
<%= link_to "Home", root_path %>    
</p>
<table>
    <tr><td><strong>Level:</strong></td><td><%= @spell.level %></td></tr>
    <tr><td><strong>School:</strong></td><td><%= @spell.school %></td></tr>
    <tr><td><strong>Classes:</strong></td><td><%= @spell.spell_classes %></td></tr>
    <tr><td><strong>Concentration:</strong></td><td><%= @spell.concentration %></td></tr>
    <tr><td><strong>Description:</strong></td><td><%= @spell.description %></td></tr>
</table>