<p id="notice"><%= notice %></p>

<h1>View <%= @spell.name %></h1>

<%= link_to 'All Spells', spells_path %> |
<%= link_to 'Home', root_path %>

<p>
  <strong>Level:</strong>
  <%= @spell.level %>
</p>

<p>
  <strong>School:</strong>
  <%= @spell.school %>
</p>

<p>
   <strong>Classes:</strong>
   <%= @spell.spell_classes.to_s %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @spell.concentration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spell.description %>
</p>

<%= link_to "Add #{@spell.name} to Book", spell_add_spell_to_book_path %>
